<div class='feedback'>
<div class="container">






          <td width = 150, align = center> <%= @message.email =%> </td>
          <td width = 150, align = center> <%= @message.name =%> </td>
          <td width = 300, align = center> <%= @message.message_text =%> </td>


        </table>
      </div>
