<h1><%=t('transfer_categories.new.New Transfer Category')%></h1>

<%= render 'form', transfer_category: @transfer_category %>

<%= link_to t('transfer_categories.new.Back'), transfer_categories_path %>
