<div class=container-fluid>
  <div class="row">
    <div class="col-md-2">
    </div>


    <div class="col-md-8" style="text-align:justify">
<font face="gabriola">
    <h1>Iron Bank of Braavos</h1>

    <p style="text-indent: 25px;">The Iron Bank is the main bank of Braavos. It is one of the wealthiest banks of the Known World and often lends money to outsiders, such as archons, triarchs, and the
    Lord of the Seven Kingdoms. Maesters have learned of some the Iron Bank's history and dealings—for the bank is famous for its discretion and secrecy—thanks to
    Archmaester Matthar's The Origins of the Iron Bank and Braavos. The bank's ships dock at the Purple Harbor of Braavos. A common saying among the Braavosi
    is "The Iron Bank will have its due."</p>

    <h2>History</h2>

<p style="text-indent: 25px;">According to Matthar, the Iron Bank was founded by sixteen men and seven women who hid valuables in an abandoned iron mine shortly after the foundation of Braavos.
 As the iron mine's chambers filled with treasures, a bank was formed to utilize the wealth. Each of the twenty-three founders had a key to these great subterranean vaults,
 and their descendants—now numbering at least one thousand—are known as "keyholders" who proudly display ceremonial keys on formal occasions. Other powerful Braavosi own
 shares in the bank, sit on its secret councils, and have a voice in selecting the men who lead it. Prior to the Uncloaking, Uthero Zalyne, Sealord of Braavos, sent envoys
 from the Iron Bank to negotiate with the Valyrian Freehold. The bank paid settlements to the grandchildren of the shipowners whose vessels had been seized by the fugitive
 founders of Braavos, but not for the slaves. Though all the Free Cities have their own banks, the Iron Bank is richer and more powerful than the others combined and has
 a fearsome reputation when collecting debts. When princes or kings default on their debts or are foolish enough not to honor their agreements with the Iron Bank,
 the Iron Bank supports new princes and kings to appear. These new princes and kings then honor the previous debt along with paying back the money the bank loaned them
  in claiming their new power, lest they suffer the same fate as their predecessors. During the Dance of the Dragons in Westeros, Ser Tyland Lannister of the greens entrusted
  one quarter of the crown's gold from the royal treasury to the Iron Bank for safekeeping. During the regency of Aegon III, the Iron Bank was temporarily eclipsed by
  the Rogare Bank of Lys. Ser Michael Manwoody was an envoy of the Iron Throne to the Iron Bank during the reign of King Baelor I Targaryen.
  Arguing with the Iron Bank in 267 AC over debts from his father, Jaehaerys II, the Mad King Aerys II considered expanding his royal fleet to challenge the Titan of Braavos.</p>
</font>
  </div>
</div>
